{{!< default}}
{{#post}}
    <article class="{{post_class}}">
        <div class="title">
            <h3><a href="{{url}}">{{{title}}}</a></h3>
            <div class="reading-time"></div>
        </div>
        <div class="subtitle">
            <div class="post-time">
                <i class="fas fa-calendar-alt"></i>
                <time class="post-date" datetime="{{date format="DD MMMM YYYY"}}">{{date format="DD MMMM YYYY"}}</time>
            </div>

            <div class="post-tags">
                <i class="fas fa-tags"></i>
                {{tags separator=" | "}}
            </div>
        </div>

        {{content}}

    </article>
{{/post}}
<script src="{{asset "scripts/reading-time.js"}}"></script>